<div class="row">
    <br/>
    <div class="card col s8 m8 l8 offset-s2 offset-m2 offset-l2">
        <h1 class="card-title center-align">Teachers List</h1>
        <div class="card-content">
            <ul class="collection" id="teachersList">
            </ul>
        </div>
    </div>
<script src="/js/teacher/list.js"></script>
</div>