<div class="row">
    <br/>
    <div class="card col s8 m8 l8 offset-s2 offset-m2 offset-l2">
        <h1 class="card-title center-align"> Teacher Absence Report <a href="/principal/report/studentabsence" class="btn cyan lighten-2 right" style="margin-right: 40px">Student</a></h1>
        <div class="card-content">
            <div id="courseTemplate" class="row">
                <div class="input-field col s3 m3 l3 ">
                    <input type="text" id="initialdate" class="datepicker"/>
                    <label for="initialdate">
                        Initial Date
                    </label>
                </div>
                <div class="input-field col s3 m3 l3 offset-l1 offset-m1 offset-s1">
                    <input type="text" id="finaldate" class="datepicker"/>
                    <label for="finaldate">
                        Final Date
                    </label>
                </div>
            </div>
            <div id="teacherTemplate">

            </div>
        </div>
    </div>
    <script src="/js/principle/report/teacher.js"></script>
</div>
