<div class="row">
    <br/>
    <div class="card col s8 m8 l8 offset-s2 offset-m2 offset-l2">
        <h1 class="card-title center-align">Accessibility</h1>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item">
                    <a href="/principle">Principle</a>
                </li>
                <li class="collection-item">
                    <a href="/teacher">Teacher</a>
                </li>
                <li class="collection-item">
                    <a href="/parent">Parent</a>
                </li>
            </ul>
        </div>
    </div>
</div>