<div class="row">
    <br/>
    <div class="card col s8 m8 l8 offset-s2 offset-m2 offset-l2">
        <h1 class="card-title center-align">Principal Control</h1>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item">
                    <a href="/principal/record/studentabsence">Record</a>
                </li>
                <li class="collection-item">
                    <a href="/principal/view/studentabsence">View</a>
                </li>
                <li class="collection-item">
                    <a href="/principal/report">Absence Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>