<nav class="blue lighten-1 ">
    <div class="nav-wrapper">
        <ul style="margin-left: 30%">
            <li><a href="/principal/record/studentabsence">Record</a></li>
            <li><a href="/principal/view/studentabsence">View</a></li>
            <li><a href="/principal/report">Report</a></li>
        </ul>
    </div>
</nav>