<div class="row">
    <br />
    <div class="card col s8 m8 l8 offset-s2 offset-m2 offset-l2">
        {{>file}}
        <h1 class="card-title center-align">Record Absence
            <!--<a href="/principal/record/teacherabsence" class="btn cyan lighten-2 right" style="margin-right: 40px">Teacher</a>-->
        </h1>
        <div class="card-content">
            <div id="searchForm" class="row card-content">
                <div class="col s2 m2 l2">
                    <label>
                        <input class="with-gap" name="userType" value="student" type="radio" id="student" checked />
                        <span>Student</span>
                    </label>
                </div>
                <div class="col s2 m2 l2">
                    <label>
                        <input class="with-gap" name="userType" type="radio" id="teacher" value="teacher" />
                        <span>Teacher</span>
                    </label>
                </div>
                <div class="col s5 m5 l5 input-field offset-l1 offset-m1 offset-s1" style="margin-top: -25px">
                    <input name="username" type="text" id="searchInput" />
                    <label for="searchInput">Search here</label>
                </div>
            </div>
            <div id="courseTemplate" class="row">
                <div class="input-field col s3 m3 l3">
                    <select id="chooseGrades">
                        <option value="" disabled="disabled" selected="selected"> Select Grade
                        </option>
                    </select>
                    <label for="chooseGrades">
                        Please Select Grade
                    </label>
                </div>
                <div class="input-field col s3 m3 l3">
                    <select id="chooseCourses">
                        <option value="" disabled="disabled" selected="selected"> Select Course
                        </option>
                    </select>
                    <label for="chooseCourses">
                        Please Select Course
                    </label>
                </div>
                <div class="input-field col s2 m2 l2 offset-l1 offset-m1">
                    <input type="text" id="initialdate" class="datepicker" />
                    <label for="initialdate">
                        Initial Date
                    </label>
                </div>
                <div class="input-field col s2 m2 l2 ">
                    <input type="text" id="finaldate" class="datepicker" />
                    <label for="finaldate">
                        Final Date
                    </label>
                </div>
            </div>
            <div id="userTemplate">

            </div>

        </div>
    </div>
    <script src="/js/principle/record/student.js"></script>
</div>